{% extends 'global.html' %} {% block content %} {% load static %}

<div id="main" class="main main-2">
   <div class="hero-2">
      <div class="container">
         <div class="row">
            <div class="col-md-5 col-sm-6">
               <div class="intro">
                  <h5 style="margin-bottom: 10px" class="wow fadeInDown" data-wow-delay="0.2s">
                     Welcome to Pretty Baby.
                  </h5>
                  <h1 class="wow fadeInDown" data-wow-delay="0.1s"><span>Teach</span> Your Baby How To Talk</h1>

                  <p class="wow fadeInDown" data-wow-delay="0.2s">
                     Veteran Reading Teacher Reveals Proven Formula That Enables Any Parent To Set The Foundation For
                     Their Child To Achieve Reading Success.
                  </p>
                  <a
                     href="https://5667b0sc4zypar9skavcmft9qn.hop.clickbank.net/?tid=BABY_TALK"
                     class="btn btn-action btn-fb wow fadeInDown"
                     data-wow-delay="0.3s"
                     ><span>Inquire Today</span></a
                  >
               </div>
            </div>
            <div class="col-md-7 col-sm-6">
               <img class="img-responsive" src="{% static 'assets/images/baby-talking.jpg' %}" alt="Feature" />
            </div>
         </div>
      </div>
   </div>
   <!-- Pi-Hero -->
   <div class="flex-split">
      <div class="f-right">
         <div class="video-icon hidden-xs text-center">
            <a class="popup wow fadeInUp" data-wow-delay="0.2s" href="https://www.youtube.com/watch?v=ivViWzvc-8M"
               ><i class="ion-ios-play"></i
            ></a>
         </div>
      </div>
      <div class="f-left">
         <div class="left-content wow fadeInLeft" data-wow-delay="0s">
            <h2 class="wow fadeInDown" data-wow-delay="0.1s">
               <span>Children Learning Reading</span> Interview with Founder Jim Yang and Kelly Thomas.
            </h2>
            <p class="wow fadeInDown" data-wow-delay="0.2s">
               Having it... Gives Children the Skill And Confidence to Succeed And Achieve Full Potential.
               <br /><br />
               Not Having it... Can Lead To A Lifetime Of Struggles With Reading And Underachievement...
            </p>
            <a
               href="https://5667b0sc4zypar9skavcmft9qn.hop.clickbank.net/?tid=BABY_TALK"
               class="btn btn-action wow fadeInDown"
               data-wow-delay="0.3s"
               ><span>Show me more details</span></a
            >
         </div>
      </div>
   </div>
   <div id="reviews" class="review-section">
      <div class="container">
         <div class="row">
            <h2 style="font-size: x-large" class="wow fadeInDown" data-wow-delay="0.1s">
               See what other parents are saying about this program.
            </h2>
            <div class="col-sm-8 col-sm-offset-2">
               <div class="reviews owl-carousel owl-theme">
                  <div class="review-single">
                     <img
                        class="img-circle"
                        src="{% static 'assets/icons/happy-baby.png' %}"
                        alt="Client Testimonoal"
                     />
                     <div class="review-text wow fadeInDown" data-wow-delay="0.2s">
                        <p>
                           Now at 2 years and 4 months, he can read an entire book by himself! He is reading at a 2nd
                           grade level! At our church school, his teacher was amazed.
                        </p>
                        <h3>- Diane C</h3>
                        <h3>Irvine, CA</h3>
                     </div>
                  </div>
                  <div class="review-single">
                     <img
                        class="img-circle"
                        src="{% static 'assets/icons/happy-baby.png' %}"
                        alt="Client Testimonoal"
                     />
                     <div class="review-text">
                        <p>
                           My daughter is in grade 2, and it was brought to my attention by her teacher that her reading
                           level was below grade level. After 2 months, my child is now reading at grade level, and she
                           has started beginner novels and reads on her own!
                        </p>
                        <h3>- M. G.</h3>
                        <h3>Surrey, BC.</h3>
                     </div>
                  </div>
                  <div class="review-single">
                     <img
                        class="img-circle"
                        src="{% static 'assets/icons/happy-baby.png' %}"
                        alt="Client Testimonoal"
                     />
                     <div class="review-text">
                        <p>
                           We are so grateful and thankful that you came up with this kind of reading program. I avoided
                           having my daughter being taught using sight words and whole language approach.
                        </p>
                        <h3>- Lorelie F.</h3>
                     </div>
                  </div>
                  <div class="review-single">
                     <img
                        class="img-circle"
                        src="{% static 'assets/icons/happy-baby.png' %}"
                        alt="Client Testimonoal"
                     />
                     <div class="review-text">
                        <p>
                           Thanks to the program she is able to read out most of the books her level with minor guidance
                           on some words that can't be sounded out.
                        </p>
                        <h3>- Dwight K.</h3>
                     </div>
                  </div>
                  <div class="review-single">
                     <img
                        class="img-circle"
                        src="{% static 'assets/icons/happy-baby.png' %}"
                        alt="Client Testimonoal"
                     />
                     <div class="review-text">
                        <p>
                           Wow, She is Reading!!! Nowadays, she is so competent that she corrects me while I read to
                           her.
                        </p>
                        <h3>- Noriko I.</h3>
                     </div>
                  </div>
                  <div class="review-single">
                     <img
                        class="img-circle"
                        src="{% static 'assets/icons/happy-baby.png' %}"
                        alt="Client Testimonoal"
                     />
                     <div class="review-text">
                        <p>
                           After Kindergarten my son could not read at all! His teacher said he would never be able to
                           keep up or catch up in 1st grade & wanted to hold him back... then we found your program...
                           When he started 1st grade, he is reading and the teacher is ABSOLUTELY AMAZED and RAVES about
                           his progress. You are a lifesaver!
                        </p>
                        <h3>- Gia C.</h3>
                     </div>
                  </div>
                  <div class="review-single">
                     <img
                        class="img-circle"
                        src="{% static 'assets/icons/happy-baby.png' %}"
                        alt="Client Testimonoal"
                     />
                     <div class="review-text">
                        <p>
                           It is one year since we began your program, and I could not be happier and more impressed
                           with my son's reading progress. He is now reading chapter books, around a late 2nd grade
                           level. He tested at 3rd grade level in sight words. And, best of all, he LOVES LOVES LOVES to
                           read.
                        </p>
                        <h3>- Maya P.</h3>
                     </div>
                  </div>
               </div>
            </div>

            <a
               href="https://5667b0sc4zypar9skavcmft9qn.hop.clickbank.net/?tid=BABY_TALK"
               class="btn btn-action btn-fb wow fadeInDown"
               data-wow-delay="0.3s"
               ><span>View More Of Our Customers</span></a
            >
         </div>
      </div>
   </div>

   <div id="features" class="features">
      <div class="container">
         <div class="row">
            <div class="col-sm-6">
               <div class="features-text wow fadeInDown">
                  <h2>Real time traffic and activity demographics</h2>
                  <p>
                     I don't know what to type here so let me fill some random text. Lorem ipsum is hard to consume and
                     I use it as a last resort. So, I'll fill random text please and you don't even have to read it.
                  </p>
                  <a
                     href="https://5667b0sc4zypar9skavcmft9qn.hop.clickbank.net/?tid=BABY_TALK"
                     class="btn btn-action btn-fb wow fadeInDown"
                     data-wow-delay="0.3s"
                     ><span>Inquire Today</span></a
                  >
               </div>
            </div>
            <div class="col-sm-6">
               <div class="features-image wow fadeInRight">
                  <img class="img-responsive" src="{% static 'assets/images/pretty-baby-bg.jpg' %}" alt="Image" />
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="pitch-2">
      <div class="container">
         <div class="pitch-inner wow fadeInRight">
            <h4>Our Children Deserves the Best.</h4>
            <h1>Don't Miss Out On This Amazing Reading Program.</h1>
            <p>
               Click below to Discover
               <strong style="font-weight: 900">How You Can Try The Children Learning Reading Program.</strong> Risk
               Free
            </p>
            <a
               href="https://5667b0sc4zypar9skavcmft9qn.hop.clickbank.net/?tid=BABY_TALK"
               class="btn btn-action btn-fb wow fadeInDown"
               data-wow-delay="0.3s"
               ><span>Try Today</span></a
            >
         </div>
      </div>
   </div>

   <!-- <div id="subscribe" class="cta-2">
      <div class="container">
         <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
               <div class="cta-2-inner">
                  <h1 class="wow fadeInDown" data-wow-delay="0.1s">Subscribe now and get lifetime premium access.</h1>
                  <p class="wow fadeInDown" data-wow-delay="0.2s">
                     Just kidding you have to pay every month or every year to get all the benefits we mentioned
                     everywhere. Everything comes at a cost.
                  </p>
                  <div class="subform wow fadeInDown" data-wow-delay="0.3s">
                     <form id="signup" class="formee" action="assets/php/subscribe.php" method="post">
                        <input name="email" id="email" type="text" /><input
                           class="right inputnew"
                           type="submit"
                           title="Send"
                           value="Subscribe"
                        />
                     </form>
                     <div id="response"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div> -->
</div>
{% endblock content %}
