{% extends 'global.html' %} {% block content %} {% load static %}

<div id="main" class="main main-2">
   <div id="subscribe" class="cta-2">
      <div class="container">
         <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
               <div class="cta-2-inner">
                  <h1 class="wow fadeInDown" data-wow-delay="0.1s">
                     Teach Your Child to Read Newsletter. Please Confirm Subscription
                  </h1>
                  <p class="wow fadeInDown" data-wow-delay="0.2s">
                     Thank you for signing up for the Teach Your Child to Read newsletter!
                     <br /><br />
                     Next step, before we can send you the free guide, please confirm your subscription.
                     <br /><br />
                     To activate your subscription, please check your email and click on the link in that email. We
                     cannot send you our free Guide to Teaching Your Child to Read until you click that link to activate
                     it.
                  </p>
                  <a
                     href="https://5667b0sc4zypar9skavcmft9qn.hop.clickbank.net/?tid=BABY_TALK"
                     class="btn btn-action btn-fb wow fadeInDown"
                     data-wow-delay="0.3s"
                     ><span>Take me back to the home page</span></a
                  >
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}
